.body {
    scroll-behavior:smooth;
    background-color: rgb(228, 234, 255);
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/europehero.jpg");
    height: 400px;
}

.hero-text {
    text-align: center;
    color: white;
    padding-top: 100px;
}

.hero h1{
    font-size:3rem;
    font-weight:bold;
}

.hero p{
    font-size:1.2rem;
    margin-top:15px;
}

section{
    padding: 40px;
}

.table {
    text-align: center;
}

.img-fluid {
    margin-right: 30px;
}

.card:hover {
    transform: scale(1.05);
}
